<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>sub1</key>
		<string>Năm mới thái độ... yêu đời mới! </string>
	</dict>
	<dict>
		<key>sub1</key>
		<string>Trẻ mãi không già, mặn mà nhan sắc.</string>
	</dict>
	<dict>
		<key>sub1</key>
		<string>Chúc các bạn nhiều lý do để vui vẻ năm 2012.</string>
	</dict>
	<dict>
		<key>sub1</key>
		<string>Chúc năm mới: 1 vợ, 2 con, nhà 3 tầng, xe 4 bánh! </string>
	</dict>
	<dict>
		<key>sub1</key>
		<string>Tống cựu nghênh tân.
Vạn sự cát tường.
Toàn gia an phúc!</string>
	</dict>
	<dict>
		<key>sub1</key>
		<string>Chúc bạn năm mới làm ăn tấn tới, nhiều tiền nhiều bạc để... cho tui vay!</string>
	</dict>
	<dict>
		<key>sub1</key>
		<string>Ngàn lần như ý.
Vạn lần như mơ.
Triệu sự bất ngờ.
Tỷ lần hạnh phúc.</string>
	</dict>
	<dict>
		<key>sub1</key>
		<string>Tết tới tấn tài.
Xuân sang đắc lộc.
Gia đình hạnh phúc.
Vạn sự cát tường!</string>
	</dict>
	<dict>
		<key>sub1</key>
		<string>Chúc ông bà một tô như ý,
chúc cô chú một chén an khang,
chúc anh chị một dĩa tài lộc.</string>
	</dict>
	<dict>
		<key>sub1</key>
		<string>Cùng chúc nhau Như ý.
Hứng cho tròn An Khang.
Chúc năm mới Bình An.
Cả nhà đều Sung túc.</string>
	</dict>
	<dict>
		<key>sub1</key>
		<string>Năm mới chúc nhau sức khỏe nhiều.
Bạc tiền rủng rỉnh thoải mái tiêu.
Gia đình hạnh phúc bè bạn quý.
Thanh thản vui chơi mọi buổi chiều!</string>
	</dict>
	<dict>
		<key>sub1</key>
		<string>Đầu xuân năm mới chúc BÌNH AN, 
Chúc luôn TUỔI TRẺ, chúc AN KHANG.
Chúc sang năm mới nhiều TÀI LỘC, 
Công thành doanh toại chúc VINH QUANG.</string>
	</dict>
	<dict>
		<key>sub1</key>
		<string>Kính chúc mọi người một năm mới tràn đầy niềm vui và hạnh phúc!
Vui trong sức khoẻ, trẻ trong tâm hồn, khôn trong lý tưởng, trưởng thành trong... tất cả mọi lĩnh vực.</string>
	</dict>
	<dict>
		<key>sub1</key>
		<string>Sang năm mới chúc mọi người có một bầu trời sức khoẻ, một biển cả tình thương, một đại dương tình cảm, một điệp khúc tình yêu, một người yêu chung thủy, một tình bạn mênh mông, một gia đình thịnh vượng.</string>
	</dict>
	<dict>
		<key>sub1</key>
		<string>Chúc các bà, các ông, các cô, các chú, các chị, các anh sang năm mới vạn sự như ý, tỷ sự như mơ, làm việc như thơ, đời vui như nhạc, coi tiền như rác, coi bạc như rơm, chung thủy với cơm và sắc son với phở.</string>
	</dict>
	<dict>
		<key>sub1</key>
		<string>Năm hết tết đến.
Rước hên vào nhà.
Quà cáp bao la,
một nhà không đủ.
Vàng bạc đầy tủ.
Gia chủ phát tài.
Già trẻ gái trai,
sum vầy hạnh phúc.
Cầu tài chúc phúc.
An lành thịnh vượng! </string>
	</dict>
	<dict>
		<key>sub1</key>
		<string>Chúc bạn 12 tháng phú quý, 365 ngày phát tài, 8760 giờ sung túc, 525600 phút thành công 31536000 giây VẠN SỰ NHƯ Ý.</string>
	</dict>
	<dict>
		<key>sub1</key>
		<string>CUNG kính mời nhau chén rượu nồng.
CHÚC mừng năm đến, tiễn năm xong.
TÂN niên phúc lộc khơi vừa dạ.
XUÂN mới tài danh khởi thỏa lòng.
VẠN chuyện lo toan thay đổi hết.
SỰ gì bế tắc thảy hanh thông.
NHƯ anh, như chị, bằng bè bạn.
Ý nguyện, duyên lành, đẹp ước mong.
CUNG CHÚC TÂN XUÂN VẠN SỰ NHƯ Ý! </string>
	</dict>
	<dict>
		<key>sub1</key>
		<string>Vừa đủ HẠNH PHÚC để giữ tâm hồn được ngọt ngào. Vừa đủ THỬ THÁCH để giữ mình luôn kiên cường. Vừa đủ MUỘN PHIỀN để thấy mình thật sự là một con người. Vừa đủ HI VỌNG để thấy mình Hạnh Phúc. Vừa đủ THẤT BẠI để giữ mình mãi khiêm nhường. Vừa đủ THÀNH CÔNG để giữ mình mãi nhiệt tâm. Vừa đủ BẠN BÈ để bớt cảm giác cô đơn. Vừa đủ VẬT CHẤT để đáp ứng các nhu cầu cuộc sống. Vừa đủ NHIỆT TÌNH để có thể chờ đợi trong hân hoan. Vừa đủ NIỀM TIN để xua tan thất bại!</string>
	</dict>
	<dict>
		<key>sub1</key>
		<string>Thay mặt Đảng, Quốc hội, Chính phủ, Mặt trận Tổ quốc kính chúc đồng chí và gia đình một năm mới hạnh phúc, an khang, thịnh vượng!</string>
	</dict>
</array>
</plist>
